<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <h2>Wealth Management</h2>

        <form action="/q1" method="post">
            <p><input type="submit" value="How should I diversify my investment portfolio?"></p>
        </form>

        <form action="/q2" method="post">
            <br>
            <br>
            <h4>Alternatively, please enter your question:</h4>
            <p><input type="text" name="q" placeholder="Type your question here..."></p>
            <p><input type="submit" value="Submit"></p>
        </form>
    </div>
</body>
